.admin-page {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 13fr;
    grid-template-areas: 
      "nav header"
      "nav content"
      "nav content"
      "nav content";
    height: 100vh;
}

/* Admin Header */
.admin-header {
    grid-area: header;
    color: #FFFFFF;
    padding: 1em 2em;
}

.admin-header-user {
    display: flex;
    flex-direction: row;
    float: right;
    height: 100%;
    color: #000000;
}

.admin-header-user div {
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 0px 2px 0px 2px;
}

.admin-header-user .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10rem;
}

.admin-icon {
    display: block;
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

.admin-main {
    grid-area: content;
    padding: 0em 1em;
}

/* Admin aside. */
.admin-aside {
    grid-area: nav;
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    grid-template-areas: 
      "aside-header"
      "aside-nav"
      "aside-footer";
   
    background: #222B32;
    border-right: 4px solid #1D262B;
}

.admin-aside header {
    grid-area: aside-header;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.admin-aside nav {
    grid-area: aside-nav;
}

.admin-aside nav ul {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    list-style-type: none;
}

.admin-aside nav ul li {
    padding: 1em;
    width: 100%;
    margin-bottom: 2px;
}

.admin-aside nav ul li:hover {
    background: #1D262B;
    border-left: 4px solid #4957b8;
}

.admin-aside nav ul li a, 
.admin-aside nav ul li i {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 1rem;
}

.admin-aside footer {
    grid-area: aside-footer;
    color: #FFFFFF;
}

.admin-aside footer p {
    text-align: center;
}

#admin-header-bar {
    margin: 0em 1em 0em 1em;
    text-align: center;
    border: 0;
    height: 2px;
    background-color: #CCCCCC;
}
