@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
}

h1, h2 {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #252525;
}

h3, 
h4, 
h5, 
h6,
p, 
a,
span,
label, 
button {
    font-family: "Roboto", sans-serif;
}

.container {
    padding: 1em;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th {
    padding: 1em;
}

td {
    text-align: center;
}


.form {}
.form-label,
.form-input,
.form-textarea,
.form-select,
.form-button {
    display: block;
    width: 100%;
}

.form-label {
    margin: 1rem 0px 0px 0px;
}
