.skill-list {
    display: flex;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
}

.skill-card {
    position: relative;
    background: #CCCCCC;
    margin: 0.5em;
    width: 240px;
    z-index: 5;
}

.skill-card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-card-title {
    background: blue;
    width: 100%;
}

.skill-card-title p {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding: 0.4rem;
}

.skill-card-settings {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
}

.skill-card-settings a {
    color: white;
}

.skill-card-icon {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    overflow: hidden;
    margin: 1em;
    background: white;
}

.skill-card-icon img {
    height: 100%;
    width: 100%;
}

.skill-card-body {
    position: relative;
    display: block;
    padding: 0.2em;
    background: #CCCCCC;
    z-index: 10;
}

ul {
    list-style-type: none;
}

.skill-card-category-list {
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 0.2em;
}

.skill-card-category {
    border-radius: 4px;
    margin: 0.4em;
    color: white;
    background: black;
}

.skill-card-category span {
    padding: 0.2em;
}

.form-tag-list {
    display: flex;
    flex-direction: row; 
}

.prereq-list {
    display: flex;
    flex-direction: row;
}

.prereq {}

.admin-form,
.prereq-editor,
.lesson-form {
    width: 320px;
}
